@import 'src/scss/variables';

.textarea {
  border: 1/16+rem solid $black;
  border-radius: 0.5rem;
  height: 200/16+rem;
  padding: 0.5rem;
  width: 100%;
}

.save {
  align-self: center;
  margin-top: 1rem;
}
