@import 'src/scss/variables';
@import 'src/scss/mixins';

.container {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  position: relative;

  &:not(:last-child) {
    border-bottom: 1/16+rem solid rgba($black, 0.25);
    margin-bottom: 2rem;
    padding-bottom: 1rem;
  }
}

.image {
  align-self: center;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.75rem 0.125rem rgba($black, 0.125);
  height: 200/16+rem;
  line-height: 0;
  margin-bottom: 1rem;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  width: 20rem;

  &.Edit {
    cursor: pointer;

    &::after {
      @include p1-700();
      align-items: center;
      bottom: 0;
      color: transparent;
      content: 'Edit Image';
      display: flex;
      justify-content: center;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: background-color 0.25s, color 0.25s;
    }

    &:hover {
      &::after {
        background-color: rgba($white, 0.67);
        color: $black;
      }
    }
  }

  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  &Input {
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}

.desc {
  margin-bottom: 1rem;
}

.textarea {
  border: 1/16+rem solid $black;
  border-radius: 0.5rem;
  height: 8rem;
  margin: 0.25rem 0 1rem;
  padding: 0.5rem;
  width: 100%;
}

.input {
  border: 1/16+rem solid $black;
  border-radius: 0.25rem;
  margin: 0.25rem 0 1rem;
  padding: 0.5rem;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.arrows {
  display: flex;
  margin-right: auto;

  button {
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}

.spinner {
  align-items: center;
  background-color: rgba($white, 0.67);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
